- form_for @changeset, @action, [multipart: true], fn f ->
  .row
    .col.s12.m6
      .input-field.file-field
        .btn
          %span= "Upload file"
          = file_input f, :file
        .file-path-wrapper
          = text_input f, :title, class: "file-path validate", placeholder: "Select your file"
    .col.s12.m2
      = submit "Upload cards", class: "btn btn-primary"
