-# %flash.flash
-#   .container
-#     .row
-#       .col.s12.m8.offset-m2
-#         - if get_flash(@conn, :info) do
-#           .card.color-info.flash_msg.z-depth-4.hoverable
-#             .row.card-content.valign-wrapper
-#               .col.s1.left-align
-#                 %i.left.small.material-icons="info"
-#               .col.s10.center-align
-#                 %h5= get_flash(@conn, :info)
-#               .col.s1.right-align
-#                 %i.small.material-icons="cancel"
-#         - if get_flash(@conn, :error) do
-#           .card.color-error.flash_msg.z-depth-4.hoverable
-#             .row.card-content.valign-wrapper
-#               .col.s1.left-align
-#                 %i.left.small.material-icons="warning"
-#               .col.s10.center-align
-#                 %h5= get_flash(@conn, :error)
-#               .col.s1.right-align
-#                 %i.small.material-icons="cancel"
-#         - if get_flash(@conn, :success) do
-#           .card.color-success.flash_msg.z-depth-4.hoverable
-#             .row.card-content.valign-wrapper
-#               .col.s1.left-align
-#                 %i.left.small.material-icons="check-circle"
-#               .col.s10.center-align
-#                 %h5= get_flash(@conn, :success)
-#               .col.s1.right-align
-#                 %i.small.material-icons="cancel"
