%flash.flash
  .container
    - if get_flash(@conn, :info) do
      .row
        .col
          .card.blue.darken-2.flash_msg.z-depth-4
            .card-content.white-text
              %h6= get_flash(@conn, :info)
    - if get_flash(@conn, :error) do
      .card.red.darken-2.flash_msg.z-depth-4
        .row
          .col.s12.m10
            .card-content.white-text
              %h6= get_flash(@conn, :error)
    - if get_flash(@conn, :success) do
      .card.green.darken-2.flash_msg.z-depth-4
        .row
          .col.s12.m10
            .card-content.white-text
              %h6= get_flash(@conn, :success)
