%footer.page-footer
  .container
    .row
      .col.4.s12
        = "© Everlearn"
      .col.4.s12

-# %footer
-#   %section
-#     .content.has-text-centered
-#       %p
-#         %strong= "Learnit"
-#         ="by"
-#         = link "Bitocreator", to: page_path(@conn, :index)
-#         = " - "
-#         = "© "
-#         = DateTime.utc_now.year
-#       %p
-#         - link to: page_path(@conn, :index) do
-#           = img_tag static_path(@conn, "/images/logo.png")
