.progress-bar{id: "#{@bar_name}"}
  -# The order is important
  .progress-item.level3.left_corner
  .progress-item.level2.left_corner
  .progress-item.level1.left_corner
  .progress-item.level0.left_corner.right_corner
