<h2>Show Group</h2>

<ul>

  <li>
    <strong>Kind:</strong>
    <%= @group.kind %>
  </li>

  <li>
    <strong>Level:</strong>
    <%= @group.level %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @group.title %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @group.active %>
  </li>

</ul>

<span><%= link "Edit", to: group_path(@conn, :edit, @group) %></span>
<span><%= link "Back", to: group_path(@conn, :index) %></span>
