// Stock footer on the bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.flash_msg {
  display: none;
  border-radius: 15px !important;
}
.flash {
  position: absolute;
  width: 100%;
  margin-top: 5em;
  //opacity: 0.8;
}

.icon-white {
  color: white;
}

a.marged {
  margin: 0 1em;
}
