// Stock footer on the bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
a.brand-logo{
  margin-left: 1em;
}
nav.top-nav .title {margin-left: 1em;}

.flash_msg {
  display: none;
  border-radius: 15px !important;
}

.flash_msg:hover {cursor: pointer;}
.flash {
  position: absolute;
  width: 100%;
  margin-top: 5em;
  z-index: 99;
}

.icon-white {
  color: white;
}

a.marged {
  margin: 0 1em;
}
