// Stock footer on the bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.flash_msg {
  display: none;
}
.flash {
  position: absolute;
  width: 100%;
  margin-top: 5em;
}
