/* ------------------------------ Layout  ------------------------------ */
a, h1, h2, h3, h4, h5, input, span, p, th, td {
  font-family: $main-font !important;
}
a, h1, h2, h3, h4, h5, input, p, th, td {
  color: $text-color !important;
}
.big-bold{font-weight: 500 !important;}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {cursor: pointer;}
th, td {
  @extend .center-align;
}
// Fix for slidebars modifications
body, html {
  width: unset;
  height: unset;
  overflow: initial;
}
// Stick footer on the bottom
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* -------------  Navbar ---------------------------------*/
nav.top-nav {
  padding: 0 1em;
  ul.dropdown-content {width: auto !important;}
}

nav.title-nav {
  background-color: $light-grey;
  .title {margin-left: 1em; color: white !important; font-weight: 500 !important;}
  background: linear-gradient(-45deg,#ec5252,#6e1a52);
}

/* -------------  Slidebars ---------------------------------*/
.sidenav-header{
  height: 6em;
}
.side-nav li>a {
  padding: 0 16px;
}
.side-nav .divider {margin: 8px 0}
.side-nav .menu-option {
  height: 100%;
  * {margin: 0 10px;}
}

/* -------------  Progressbar ---------------------------------*/
.progress-bar {
  width: 100%; margin-bottom: 1em;
  display: flex;
  .level0 {width: 100%; background-color: $light-grey !important}
  .level1 {width: 0%; background-color: $middle-grey !important}
  .level2 {width: 0%; background-color: $info !important}
  .level3 {width: 0%; background-color: $success !important}
  .left_corner {border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
  .right_corner {border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
}

/* -------------  Footer ---------------------------------*/
footer {
  background-color: $info !important;
  margin-top: 2em;
  span {color: white !important;font-weight: 400;}
  i {margin-right: 0.5em;}
  span {margin: 0 1em;}
}


/* -------------  Flashes ---------------------------------*/
#toast-container {
  top: 64px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  .toast {
    border-radius: 15px;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .toast:hover {cursor: pointer;}
  .toast.alert {background-color: $danger;}
  .toast.success {background-color: $success;}
  .toast.info {background-color: $info;}
}

/* -------------  Buttons & Icons & Badges ---------------------------------*/
a.no-margin {margin: 0 !important;}
.btn {
  background-color: $light-grey;
  color: white !important;
  i {color: $text-color;}
}
.btn-action {
  background-color: $main-color;
  i {color: white;}
}
.btn-success {
  background-color: $success;
  color: white !important;
  i {color: white;}
}
.btn-danger {
  background-color: $danger;
  color: white !important;
  i {color: white;}
}
.btn.import-file {
  width: 0;height: 0;
}

a.btn-round {
  background-color: white;
  border: 1px solid $info-light;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.color-danger {color: $danger !important;}
i.color-success {color: $success !important;}
// i.color-yellow {color: $yellow !important;}
i.color-medium {color: $middle-grey !important;}
i.big{color: $info-light;font-size: 100px;}

.switch{margin-top: 2rem;}


/* ------------------------------ Custom rules  ------------------------------ */
a.empty_fields {
  position: absolute;
  top: 50%;
  right: -30px;
}
.row {position: relative;}
.box-inline{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}
.box-column{
  @extend .box-inline;
  flex-direction: column;
}
.box-inline-even{
  @extend .box-inline;
  justify-content: space-evenly;
}
.box-inline-between{
  @extend .box-inline;
  justify-content: space-between;
}

.active_box > i { width: 20px; height: 20px;}
.margin {margin: 1em;}

/* ------------------------------ Custom Materialize  ------------------------------ */
.card-content{
  height: 100%;
}

.activator:hover {cursor: pointer;}

/* ------------------------------ Logo  ------------------------------ */
span.logo {
  display: flex; align-items: center; justify-content: center;
  font-family: $logo-font;
  i {color: $main-color;font-size: 25px !important;margin-right: 15px;}
  font-size: 25px !important; font-weight: bold; color: $main-title-color;
}
/* ------------------------------ Flags  ------------------------------ */
img.flag_big {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
img.flag {
 border-radius: 50%;
 width: 30px;
 height: 30px;
}
img.flag_small {
 border-radius: 50%;
 width: 25px;
 height: 25px;
}
