<h2>Show Classroom</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @classroom.title %>
  </li>

</ul>

<span><%= link "Edit", to: classroom_path(@conn, :edit, @classroom) %></span>
<span><%= link "Back", to: classroom_path(@conn, :index) %></span>
