%nav.top-nav.light-blue.lighten-5.z-depth-0.nav-extended
  .nav-wrapper.valign-wrapper
    %h4.title.teal-text.text-darken-2= "New pack"
    - link to: pack_path(@conn, :index), class: "btn-floating btn-large halfway-fab waves-effect waves-light teal darken-2" do
      %i.material-icons= "keyboard_arrow_left"
.container
  .section
  = render "form.html", Map.put(assigns, :action, pack_path(@conn, :create))
