-# - form_for @changeset, @action, fn f ->
-#   = hidden_input f, :item_id
-#   .input-field
-#     = select f, :language_id, @filtered_languages
-#     = label f, :language_id
-#   .input-field
-#     = text_input f, :question, class: "validate", type: "text"
-#     = label f, :question
-#     = error_tag f, :question
-#   .input-field
-#     = text_input f, :answer, class: "validate", type: "text"
-#     = label f, :answer
-#     = error_tag f, :answer
-#   .input-field
-#     = text_input f, :sound, class: "validate", type: "text"
-#     = label f, :sound, "Sound Url"
-#     = error_tag f, :sound
-#   .input-field
-#     = text_input f, :phonetic, class: "validate", type: "text"
-#     = label f, :phonetic
-#     = error_tag f, :phonetic
-#   .switch
-#     %label
-#       = "Off"
-#       = checkbox f, :active
-#       %span.lever
-#       = "On"
-#
-#   -# .form-group.center-align
-#   = submit "Submit", class: "btn-large waves-effect waves-light teal accent-4"
